

body {
    font-family: 'Poppins', sans-serif;
    background-color:  #CFCFD3 ; 
}

.container-custom {
    max-width: 800px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
    background-color:#F3F4F7; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

h1 {
    font-size: 2.5rem; 
    color: #495057;
}

.form-group {
    margin-bottom: 2rem;
}

label {
    font-weight: bold;
    color: #495057; 
}

input.form-control {
    width: 100%;
    padding: 1rem;
    font-size: 1rem; 
    border: 1px solid #ced4da; 
    border-radius: 4px;
    margin-top: .5rem;
}

button.btn {
    font-size: 1rem; 
    margin: .5rem;
}


.btn {
    transition: transform 0.3s ease;
}

.btn:hover {
    transform: scale(1.1);
}


ul.list-group {
    padding: 0;
}

.list-item-container {
    margin-bottom: 1rem;
    padding: 1rem;
    border: 3px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Adicione essas regras de estilo ao seu arquivo style.css */

.list-group {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;

    
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.container-custom {
    opacity: 0;
    animation: slideIn 2s ease-in-out forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}




@media (max-width: 768px) {
    .container-custom {
        width: 100%;
        margin: 0 auto;
        padding: 1rem;

    }

    h1 {
        font-size: 2rem;
    }

    .form-group {
        margin-bottom: 1rem;
    }

    label {
        font-size: 1rem;
    }

    input.form-control {
        width: 100%;
        font-size: 0.8rem;
    }

    button.btn {
        font-size: .5rem;
    }


    ul.list-group {
        width: 100%;
        padding: 0;
    }

    .list-item-container {
        width: 100%;
        margin-bottom: 0;
    }

    .remove-task,
    .complete-task {
        font-size: 0.8rem;
    }
}

@media (max-width: 320px) {
    .container-custom {
        width: 100%;
        margin: 0 auto;
    }

    h1 {
        font-size: 1.5rem;
    }

    .form-group {
        margin-bottom: 0.5rem;
    }

    label {
        font-size: 0.8rem;
    }

    input.form-control {
        width: 100%;
        font-size: 0.6rem;
    }

    button.btn {
        font-size: 0.3rem;
    }

    ul.list-group {
        width: 100%;
        padding: 0;
    }

    .list-item-container {
        width: 100%;
        margin-bottom: 0;
    }

    .remove-task,
    .complete-task {
        font-size: 0.6rem;
    }


}
